

h3{
  font-family: 'Monoton', cursive;
  line-height: 2;
}


.carousel-inner {
  width: 400px; /* Establece la altura fija deseada para las tarjetas */
}

.image-container {
  max-width:200px; /* Ajusta el ancho máximo del contenedor según tus necesidades */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
}

.image-container img {
  max-width: 100%; /* La imagen ocupará como máximo el ancho del contenedor */
  box-shadow: 0px 0px 10px rgba(6, 6, 6, 0.5); /* Agrega una sombra a las imágenes */
}

h5, button{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.btn-ver{
  padding: 5px;
  border: none;
  background-color:#ffb300 ;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  box-shadow: 0px 4px 0px rgba(70, 70, 70, 0.808);
}

.btn-ver:hover{
  transition: 1s;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
}
