
<div class="card-movie">
  <div class="svg"> <img [src]="moviesTopReceived.poster_path | movieImage" alt="">  </div>
  <div class="card__content">
    <p class="card__title" [title]="moviesTopReceived.title"> {{moviesTopReceived.title | movieText  }}  </p>
    <button class="card__description"> Rating: {{moviesTopReceived.vote_average | number:'1.2-2' }} <i class="fa-solid fa-star" style="color: #ffffff;"></i> </button>
    <button class="card__button"[routerLink]="['/movie/info',moviesTopReceived.id]">More Info... <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i> </button>

  </div>
</div>



