

<section *ngIf="movie" class="section-info">

  <div class="cont-info">

    <div class="image-container">
      <img [src]="movie.poster_path | movieImage" alt="">
    </div>

    <div class="cont-text ">
      <h2> {{movie.title}} </h2>
      <p> {{movie.overview | movieDescription}} </p>
      <a [href]="movie.homepage" target="_blank"> Web Site Here  <i class="fa-solid fa-globe" style="color: #ffffff;"></i> </a>
      <p> Launch Date: {{movie.release_date}} </p>
    </div>

  </div>


  <div class="casting-cont">
    <h3  class="text-center">MAIN CASTING</h3>

    <star-casting-movie [idMovieC]="idMovieI" ></star-casting-movie>
  </div>

  <div class="cont-p">


    <star-carousel-similar [idMovie]="idMovieI"></star-carousel-similar>
  </div>



</section>


