.image-container {
  height: 500px;

}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}



.carousel-p{
  background-color: rgb(40, 40, 40);
}

h5, p{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}



@media screen and (max-width:775px) {

  .image-container{
    height: 300px;
  }

}

